.top {
  position: absolute;
  background-image: url("@/assets/top_corner.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100dvw;
  min-width: 360px;
  height: 30dvh;
  min-height: 177px;
  top: 0;
}
.bot {
  position: absolute;
  background-image: url("@/assets/bottom_corner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100dvw;
  height: 30dvh;
  min-width: 360px;
  min-height: 294px;
  bottom: 0;
}
.right {
  position: absolute;
  background-image: url("@/assets/right_corner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100dvw;
  height: 65dvh;
  min-width: 360px;
  min-height: 480px;
  right: 0;
  bottom: 0;
}
