.wrapper {
  display: flex;
  position: relative;
  top: 65dvh;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
  border: 1px solid $WHITE;
  background: linear-gradient(125deg, $PRIMARY, $SECONDARY);
  padding: 2px;
}
