$PRIMARY: #4799ff;
$PRIMARY_VARIANT: #0080F6;
$SECONDARY: #FFBDBA;
$SECONDARY_VARIANT: #FF8F90;
$WHITE: #ffffff;

$FONT: Roboto, "Segoe UI", Tahoma, sans-serif;
$FONT_LIGHT: 300;
$FONT_REGULAR: 400;
$FONT_MEDIUM: 500;
$FONT_BOLD: 700;
